{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Catégories
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Liste des catégories</h1>
        <a href="{{ path('backoffice_categories_add') }}" class="btn btn-primary">Ajouter une catégorie</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class="table-{{ cycle(['dark', 'default'], loop.index) }}">
                <th>{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.picture }}</td>
                <td>
                    <a href="{{ path('backoffice_categories_read', {id: category.id}) }}" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('backoffice_categories_edit', {id: category.id}) }}" class="btn btn-light">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <form action="{{ path('backoffice_categories_delete', {id: category.id}) }}" class="d-inline"
                          method="post">
                        <button class="btn btn-danger ">
                            <i class="fa fa-trash" aria-hidden="true">

                            </i>
                        </button>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete_categories' ~ category.id) }}">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(categories) }}
    </div>
{% endblock %}
