{% set text = 'Cette semaine' %}
{% if interval == 'daily' %}
    {% set text = 'Aujourd\'hui' %}
{% elseif interval == 'monthly' %}
    {% set text = 'Ce mois-ci' %}
{% endif %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 mt-2 text-center">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title text-black">Évènements passés/à venir</h5>
                <strong class="text-black fs-2">{{ events }}</strong>
            </div>
            <div class="card-footer">{{ text }}</div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 mt-2 text-center">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title text-black">Nouveaux évènements</h5>
                <strong class="text-black fs-2">{{ newlyCreatedEvents }}</strong>
            </div>
            <div class="card-footer">{{ text }}</div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 mt-2 text-center">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title text-black">Nouveaux utilisateurs</h5>
                <strong class="text-black fs-2">{{ newlyCreatedUsers }}</strong>
            </div>
            <div class="card-footer">{{ text }}</div>
        </div>
    </div>
</div>
