{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<div>
    <h1 class = "text-center">Liste des Evenements</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">date</th>
      <th scope="col">maxMembers</th>
      <th scope="col">isArchived</th>
      <th scope="col">isOnline</th>
      <th scope="col">createdAt</th>
      <th scope="col">updatedAt</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
        <tr class="table-{{ cycle(['dark', 'default'], loop.index) }}">
            <th>{{ event.id }}</th>
            <td>{{ event.title }}</td>
            <td>{{ event.date|date('Y-m-d H:i') }}</td>
            <td>{{ event.maxMembers}}</td>
            <td>{{ event.isArchived }}</th>
            <td>{{ event.isOnline }}</td>
            <td>{{ event.createdAt|date('Y-m-d H:i')}}</td>
            <th>{{ event.updatedAt|date('Y-m-d H:i') }}</th>
            <td>
              <a href="{{ path('backoffice_events_read', {id: event.id}) }}" class="fs-4"
                ><i class="fa fa-eye" aria-hidden="true"></i></a>
              <a href="{{ path('backoffice_events_edit', {id: event.id}) }}" class="fs-4"
                ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <form action="{{ path('backoffice_events_delete', {id: event.id}) }}" class="d-inline" method="post">
                <button class="btn btn-link p-0 mb-2 fs-4"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <input type="hidden" name="_method" value="delete">
              </form>
            </td>
        </tr>    
    {% endfor %}
  </tbody>
</table>
{% endblock %}
