{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
 <div>
    <h1 class = "text-center">Liste des Utilisateurs</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>email</th>
      <th>roles</th>
      <th>firstname</th>
      <th>lastname</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr class="table-{{ cycle(['dark', 'default'], loop.index) }}">
            <th>{{ user.id }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.roles ? user.roles|json_encode : ''}}</td>
            <td>{{ user.firstname}}</td>
            <td>{{ user.lastname}}</td>
             <td>
              <a href="{{ path('backoffice_users_read', {id: user.id}) }}" class="fs-4"
                ><i class="fa fa-eye" aria-hidden="true"></i></a>
              <a href="{{ path('backoffice_users_edit', {id: user.id}) }}" class="fs-4"
                ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <form action="{{ path('backoffice_users_delete', {id: user.id}) }}" class="d-inline" method="post">
                <button class="btn btn-link p-0 mb-2 fs-4"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <input type="hidden" name="_method" value="delete">
              </form>
            </td>
        </tr>    
    {% endfor %}
  </tbody>
</table>

{% endblock %}
